//-IMAGE GALLERY iIN GUTENBERG

@mixin gallery-max-height {
    @include max-height(80vh);
}

.wp-block-gallery {
    @include gallery-max-height;
    position: relative;
    // left: -17vw;
    // width: 90vw;
    align-items: center;
    margin: 13vh 0;

    @include breakpoint(phone) {
        left: 0;
        max-height: unset;
    }

    li {
        @include gallery-max-height;

        figure {
            @include gallery-max-height;

            a {
                @include gallery-max-height;

                img {
                    @include gallery-max-height;
                }
            }
        }
    }



    &.columns-3 {
        .blocks-gallery-item {
            align-items: center;

            @include breakpoint(phone) {
                width: 100%;
                margin-right: unset;
            }

            figure {
                img {
                    max-height: 60vh;

                }
            }
        }
    }

    &.double-decker {
        max-height: 60vh;

        @include breakpoint(phone) {
            max-height: unset;
        }

        img {
            max-height: 30vh;
        }
    }
}