section.link-slideup p>a {
  position: relative;
  z-index: 9998;
  /* needed for setting pseudo-element z-index */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


section.link-slideup p>a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

section.link-slideup p>a::before,
section.link-slideup p>a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Slide up */
.link-slideup {}

.link-slideup p>a {
  overflow: hidden !important;
  font-weight: 500;
  color: #00b0ff;
  text-decoration: none;
}

.link-slideup p>a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #E63120;
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform background-color 0.2s cubic-bezier(0.84, .01, 0.19, .80);
  -webkit-transform: translateY(95%);
  transform: translateY(95%);

}

.link-slideup p>a:hover {
  color: #fff !important;
}

.link-slideup p>a:hover::before,
.link-slideup p>a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);

}