//- ğ—•ğ—”ğ—¦ğ—˜
@import "variables";
@import "mixins";
@import "animation";
@import "hacks";
@import "typography";
@import "hyperlinks";

// Scrollbar styling
*::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}