span.edit-link {
    position: absolute;
    right: 25px;
    bottom: 25px;
    padding: 15px 25px;
    background: yellow;
    color: black;
    font-weight: bold;
    font-size: 2em;

    &:hover,
    &:focus {
        color: yellow;
        background: black;

        a {
            color: yellow;
        }
    }



    a {
        text-decoration: none;
        color: black;

        span {
            display: none;

        }
    }

}

a:focus {
    outline: none !important;
}

//HACK: this was to fix an unknown overflow problem. This is bad form. Should be fixed someday
div#page {
    overflow: hidden;
    min-height: 100vh;
}

.no-overflow {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
}