//- HYPERLINKS

// new and improved hyperlinks
p {
    a {
        border-bottom: 1px solid $blue;
        box-shadow: inset 0 -2px 0 0 $blue;
        color: #292929;
        padding: 0 .25em;
        display: inline;
        text-decoration: none;
        transition: all .25s $AniCurve;
        margin: auto .25em;

        &:hover,
        &:focus {
            box-shadow: inset 0 -2em 0 0 $blue;
            color: white;
        }

        &::before {
            content: "\005B";
        }

        &::after {
            content: "\005D";
        }
    }


}

//Global p anchor tag
// also check footer links in the sign up footer sass file and below the .links sass file for the stuff in the about me section
// .entry-content {
//     p {
// a {
//   background: white;
//   color: black;
//   overflow: hidden;
//   font-weight: 500;
//   z-index: 50;
//   position: relative;
//   display: inline-block;
//   outline: none;
//   vertical-align: bottom;
//   text-decoration: none;
//   white-space: nowrap;
// }

// a::before {
//   content: "[ ";
//   position: relative;
// }

// a:hover {
//   color: white;
// }

// a:focus {
//   color: white;
// }

// a::before {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
//   background-color: $blue;
//   content: "";
//   transition: all 0.2s $defaultAni;
//   transform: translateY(95%);
// }

// a:hover::before {
//   -webkit-transform: translateY(0);
//   transform: translateY(0);
//   color: white !important;
// }

// a:focus::before {
//   -webkit-transform: translateY(0);
//   transform: translateY(0);
//   color: white !important;
// }
//     }
//   }