//- VARIABLES

// - Colors
$blue: #2657eb;
$black: rgb(20, 20, 20);
$charcoal: #32373c;
$offwhite: #d2cec2;
$just-off-white: #f2f2f2;
$code-foreground: #c85e7c;
$code-background: #322931;
$note: #0162c4;
$notice: #d9ff00;

//- Animation
$AniCurve: cubic-bezier(0.84, .01, 0.19, .93);

// animation default curve
$defaultAni: cubic-bezier(0.84, .01, 0.19, .93);