/*CUSTOM NAV BAR STUFF*/

*:fullscreen {
  z-index: 50000 !important;
}

*:-webkit-full-screen {
  z-index: 50000 !important;
}


*:-webkit-full-screen-ancestor:not(iframe) nav.navbar {
  display: none;
}

*:-webkit-full-screen-ancestor:not(iframe) section.hero-section {
  display: none;
}

*::backdrop {
  display: none;
}


nav.navbar {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  outline: none;
  border: 0 transparent solid !important;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  z-index: 5;
  width: 100%;
  box-shadow: none;

  @include breakpoint(phone) {
    z-index: 100;
  }

  button.navbar-toggle {
    display: block !important;
    float: right;
  }



  .navbar-collapse {
    border: none;
    width: 100%;
    box-shadow: none;

    .navbar-left {

      float: left;
    }

    .navbar-right {
      float: right;
    }


  }

  //// end of navbar-collapse

  button.hamburger {
    //position: absolute;
    //top: 35px;
    //left: 0;
  }

  a {
    color: white;
    font-family: Aller, sans-serif;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(3, 3, 3, 0.3);
    font-size: 1.45em;
  }

  //// end of anchor links

  .rollovernav {

    a {
      overflow: hidden;
      padding: 0 3px;


      &:hover span {
        transform: translateY(-120%);

      }

      &:focus span {
        transform: translateY(-100%);
      }


      span {
        position: relative;
        display: inline-block;
        transition: transform 0.3s $defaultAni;


        &::before {
          position: absolute;
          font-family: AllerBold, sans-serif;
          top: 100%;
          content: attr(data-hover);
          font-weight: normal;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }



        &:focus span {}

      }

    }

  }

  //// end of rollover nav

}

///// End of Nav bar.


@media (min-width: 992px) {

  .hamburger {
    visibility: hidden;
  }

  .navbar-collapse {
    position: fixed;
    width: 100%;
    z-index: 2;
  }

}

@media (max-width: 991px) {



  .customnav a {
    display: block;
  }



  .navbar-collapse {
    border-color: transparent;
    box-shadow: none;
    //border-top: 1px solid transparent;
    //box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }


  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*This expands the hamburger menu view to tablet mode*/

.logged-in .navbar-fixed-top {
  top: 32px !important;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-collapse.in {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {

  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {

  .container>.navbar-header,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-duration: .35s;
  transition-property: height, visibility;
}