
/* ABOUT PARAGRAPH SECTION*/


.text-paragraph-card {
  background-color: white !important;
  border: 0px;
  border-radius: 4px;
  padding-right: 10px!important;
  padding-left:10px!important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  text-decoration: none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

}



.text-circle-card {
  background-color: #00b0ff !important;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 8em;
  height: 8em;
  font-size: 1.5em;
  border: 0px;
  border-radius: 50%;
  text-decoration: none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  align-self: center;

}

.text-circle-card h3{
  font-family: Aller;

}

.text-paragraph-card h1{
  font-family: AllerBold !important;
  font-weight: normal !important;
}

.text-paragraph-card h2{
  font-family: Aller !important;
  font-weight: normal !important;
}

.text-paragraph-card p{

  float: left;
  font-size: 22px !important;
  line-height: 1.5em;
  font-family: AllerLight, san-serif;
  margin-bottom: 10px;
  align-items: center;

}

.text-paragraph-card a{
  padding: 0em !important;


}

.text-paragraph-card li {

  font-size: 18px !important;
  line-height: 1.5em;
  font-family: AllerLight, san-serif;
  align-items: center;
}

.exp-info {
  display: flex;
  align-items: center;
}