//Image gallery for gallery inserts inside wordpress native


div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  figure.gallery-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    div.gallery-icon {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {

        }

      }

    }

  }

}



div.gallery-columns-1 {

  max-height: 60vh;

  figure.gallery-item {
    margin: 0;
    max-width: 100%;
    max-height: 60vh;

    div.gallery-icon{
      max-width: 100%;
      max-height: 60vh;
      a {
        max-height: 60vh;
        max-width: 100%;
        img {

          max-height: 60vh;
          max-width: 100%;

        }

      }
    }
  }

}//// End of columns 1

div.gallery-columns-2 {

  max-height: 60vh;

  figure.gallery-item {
    margin: 0;
    max-width: 45vw;
    max-height: 60vh;

    div.gallery-icon{
      max-width: 100%;
      max-height: 60vh;
      a {
        max-height: 60vh;
        max-width: 100%;
        img.attachment-medium.size-medium {

          max-height: 60vh;
          max-width: 100%;

        }

      }
    }
  }

}//// End of columns 2

ul.columns-2 {
justify-content: center;
  max-height: 75vh;

  li.blocks-gallery-item {
    margin: 0;
    max-width: 45vw;
    max-height: 75vh;
    width: auto!important;
    flex-grow: 0!important;

    figure{
      max-width: 100%;
      max-height: 75vh;
      display: flex;
      justify-content: center;
      align-content: center;
      a {
        max-height: 75vh;
        max-width: 100%;
        img {

          max-height: 75vh;
          max-width: 100%;

        }

      }
    }
  }

}//// End of columns 2

div.gallery-columns-3 {

  figure.gallery-item {
    max-width: 30vw!important;
    max-height: 60vh;
    margin: 0;
    div.gallery-icon{
      max-width: 100%;
      max-height: 60vh;
      a {
        max-height: 60vh;
        max-width: 100%;

        img.attachment-medium.size-medium {
          max-height: 60vh;
          max-width: 100%;

        }

      }
    }
  }

}//// End of columns 3

div.gallery-columns-4 {
  margin-bottom:100px;
  figure.gallery-item {
    max-width: 24.5vw!important;
    margin: 0;
    div.gallery-icon {
      max-width: 100%;

      a {
        max-width: 100%;

        img {
          max-width: 100%;

        }
      }
    }
  }

} /// end of columns 4

div.gallery-columns-5 {
  max-height: 60vh;
  figure.gallery-item {
    max-width: 19vw!important;
    margin: 0;
    div.gallery-icon {
      max-width: 19vw;

      a {
        max-width: 19vw;

        img.size-medium{
          max-width: 19vw;

        }
      }
    }
  }

}/// end of columns 5

div.gallery-columns-6 {
  max-height: 60vh;
  figure.gallery-item {
    max-width: 16vw!important;
    margin: 0;
    div.gallery-icon {
      max-width: 16vw;

      a {
        max-width: 16vw;

        img.attachment.size-medium{
          max-width: 16vw;

        }
      }
    }
  }

}/// end of columns 6

div.gallery-columns-7 {
  max-height: 60vh;
  figure.gallery-item {
    max-width: 14vw!important;
    margin: 0;
    div.gallery-icon {
      max-width: 14vw;

      a {
        max-width: 14vw;

        img.attachment.size-medium{
          max-width: 14vw;

        }
      }
    }
  }

}/// end of columns 7







