//-  SIDE PROJECTS
section.sideProjects {
  z-index: 60000;
  padding-bottom: 150px;
  flex-wrap: wrap;



  div.overlay-sideProjects {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(10, 55, 45, .3);
    overflow: hidden;
    box-shadow: inset 0px 12px 39px 1px rgba(0, 4, 26, 0.39);

    img.overlay-img {

      position: absolute;
      min-width: calc(100% + 100px);
      min-height: calc(100% + 100px);
      z-index: -3;
      height: 100%;
      width: 100%;
      background-repeat: repeat;

    }

  }

  h1 {
    flex: 0 0 100%;
    margin: 20px;
    color: white;
  }

  h2 {
    z-index: 50;
    position: relative;
    top: -30px;

    @include breakpoint(phone) {
      top: 0;
      margin-top: 75px;
      margin-bottom: 50px;

    }

    span {
      background: black;
      color: white;
      padding: 0;
      padding-left: 40px;
      font-size: 6vmax;
      box-shadow: 4em 0 0 black, -5em 0 0 black, 0px 3px 0px $blue,
        0px 14px 10px rgba(0, 0, 0, 0.15), 4em 14px 10px rgba(0, 0, 0, 0.15),
        0px 24px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
      font-family: $brushFont;

    }
  }


}

//// end of ENTIRE SECTION side projects






figure.side-project-box {
  @include heavy-shadow($blue);

  figcaption {
    text-align: left;

    >div {
      position: absolute;
      bottom: 20px;
      left: 0;
      padding: 2em;
      width: 70%;
      height: 50%;
    }
  }

  h3,
  p {
    transform: translate3d(0, 50px, 0);
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 0;
    font-size: 0;
    color: transparent;
  }
}

figure.side-project-box h3 {
  display: block;
  transition: transform 0.35s;

  span {
    background-color: black;
    box-shadow: 0.2em 0 0 rgba(black, 1), -0.2em 0 0 rgba(black, 1);
    display: inline;
  }
}

figure.side-project-box p {
  color: white;
  opacity: 0;
  transition: opacity 0.2s, transform 0.35s;

  display: block;

  span {
    background-color: black;
    box-shadow: 0.2em 0 0 rgba(black, 1), -0.2em 0 0 rgba(black, 1);
    display: inline;
  }

}

figure.side-project-box:hover img,
figure.side-project-box:hover p {
  opacity: 1;
}

figure.side-project-box:hover div.img-container img {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}



figure.side-project-box:hover h3,
figure.side-project-box:hover p {
  transform: translate3d(0, 0, 0);
}

figure.side-project-box:hover p {
  transition-delay: 0.05s;
  transition-duration: 0.35s;
}



.side-projects-grid {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  list-style: none;
  text-align: center;
  padding-top: 50px;


  figure.side-project-box {

    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 250px;
    max-width: 320px;
    min-height: 320px;
    max-height: 320px;
    width: 30%;
    background: $blue;
    text-align: center;
    cursor: pointer;

    @include breakpoint(phone) {
      width: 100%;
    }

    div.img-container {
      min-height: calc(100% + 200px);
      min-width: calc(100% + 200px);
      top: -100px !important;
      left: -20px !important;


      img {
        position: relative;
        object-fit: cover;

        min-height: calc(100% + 100px);
        min-width: calc(100% + 100px);

        max-height: calc(150% + 100px);
        max-width: calc(150% + 100px);


        opacity: 0.7;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(-40px, 0, 0);

      }
    }

    figcaption {
      //padding: 2em;
      color: #fff;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
}



.side-projects-grid figure figcaption::before,
.side-projects-grid figure figcaption::after {
  pointer-events: none;
}

.side-projects-grid figure figcaption,
.side-projects-gridfigure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.side-projects-grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.side-projects-grid figure h3 {
  //word-spacing: -0.15em;
  font-size: 1.60em;
  font-weight: 300;
}



.side-projects-grid figure p {
  //letter-spacing: 1px;
  font-size: 1em;
}