//////////////////////////////
//                          //
//      CONSULTING CSS      //
//                          //
//////////////////////////////




body.page-id-15 {

  div.site {

nav.navbar {
  background: black;

  div.customnav {
    background: black;
  }
}
  }
} /// END OF CUSTOM PAGE STYLING


header.consulting-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;


  flex-direction:column;
  h1 {
    font-size: 9vw;
    position: relative;
    top: 70px;
    z-index: 1;
    color: white;
    text-align: center;
    width:100%;
    margin: 35px;



  }

  p {
    position: relative;
    margin: 75px;
    padding: 0 250px;

    @include breakpoint(phone) {
      margin: 75px 28px;
      padding: 0;
    }
  }

  a {
    color: white;
    position: relative;

    text-decoration: none;
    background: black;
    overflow: hidden;
    font-weight: 500;
    z-index: 100;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    white-space: nowrap;
    padding: 10px;
    font-size: 4vw;
  }

  a:hover {
    color: white;
    text-shadow: 3px 3px 0 black;
  }

  a:focus {
    color: white;
  }

  a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $blue;
    content: '';
    transition: transform 0.2s $defaultAni;
    transform: translateY(95%);

  }

  a:hover::before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: white!important;
  }
  a:focus::before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: white!important;
  }




  img {
    position: absolute;
    top: -200px;
    height: calc(100% + 300px);
    width: 100vw;
  }

}





////////////////////////////
// CONSULTING PAGE CSS


section.content.consulting {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10vw 20px 10vw;

  .intro-text {
    flex: 0 0 100%;

    p {
      text-align: center;
    }
  }

  .consult-card {
    background: white;
    margin: 10px 5px;

    .text-flex {
      margin: 10px;
    }


    .img-container {

      max-height: 50vh;
      overflow: hidden;

      .section-img{
        min-width: 100%;
        min-height: 100%;
        max-width: 60vw;
        max-height: 80vh;

      }

    }

  }

  .exit-button{
    width:40px;
    height:40px;
    border: 1px solid black;
    cursor:pointer;
    display:inline-block;
    margin:10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    background-color: white;

    box-shadow: 0px 0px 0px 20px white inset;
    transform: scale(0.8);

    transition: all 0.3s $defaultAni;



    &:after{
      width: 24px;
      height: 4px;
      background-color: black;
      content: "";
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -2px;
      position: absolute;
      transform: rotate(-45deg);
      transition: all 0.3s $defaultAni;
    }
    &:before{
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -2px;
      width: 24px;
      height: 4px;
      background-color: black;
      content: "";
      position: absolute;
      transform: rotate(45deg);
      transition: all 0.3s $defaultAni;
    }


    &:hover {
      box-shadow: 0px 0px 0px 20px black inset;
      transform: scale(0.8);
    }


    &:hover:after {
      background-color: white;
      transform: rotate(-45deg) scale(0.6);
    }
    &:hover:before {
      background-color: white;
      transform: rotate(45deg) scale(0.6);
    }


  }





  .consult-modal.inactive {
    display: none;
  }

  .consult-modal.active {
    display: flex;
    z-index: 9999999999999999;
    background: white;
    position: fixed;
    width: 80vw;
    min-height: 85vh;
    top: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    padding: 2em 0 8em;


    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-guts {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 20px 50px 20px 20px;

      h1 {
        flex: 0 0 100%;
        font-weight: 700;
      }

      .service-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        margin: 0 auto 3em;

        .product-package {
          margin: 1em;
          color: #382628;
          background: #fff;
          cursor: default;
          text-transform: uppercase;
          letter-spacing: 4px;
          border: 2px solid #382628;
          border-radius: 5px;
          min-width: 33%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          text-align: center;


          .title {
            font-size: 1em;
            font-weight: 700;
            margin: 0.5em 0 0;
            padding: 1em;
            border-bottom: 2px solid #382628;
          }

          .audience{
            margin: 0 0 1em 0;
            padding: 1em;
            font-size: 0.85em;
            border-bottom: 2px solid #382628;
          }

          .price {
            font-size: 3em;
            padding: 0.5em 0 0 0;
            margin: 1em;
            font-weight: bold;
            border: 2px solid #382628;
            position: relative;
            z-index: 100;
            .currency {
              font-size: 0.5em;
              vertical-align: super;
            }
            .time-period {
              font-size: 0.25em;
              display: block;
              padding: 1em;
              margin-top: 1.25em;
              border-top: 2px solid #382628;
            }

          }

          ul {
            font-size: 0.85em;
            margin: 0;
            letter-spacing: 0;
            padding: 0 1em 2.5em 4em;
            list-style-type: square;
            text-align: left;

            li {
              font-size: 0.85em;
              margin: 0;
              letter-spacing: 0;
              padding: 0;
              list-style-type: square;
              text-align: left;
              text-transform: none;
            }
          }

          .pricing__action {
            font-weight: bold;
            flex: none;
            margin: auto 1em 1em;
            padding: 1.25em 2em;
            color: #fff;
            background: #382628;
            letter-spacing: 2px;
            border-radius: 1px;
            border: 2px solid #382628;
            font-size: 0.95em;
            text-transform: uppercase;
            -webkit-transition: background-color 0.3s, color 0.3s;
            transition: background-color 0.3s, color 0.3s;
          }

          .pricing__action:hover,
           .pricing__action:focus {
            background-color: #ffdbd5;
            color: #382628;
          }



        }  //end of product-package

        .product-package.featured .price::after {
          background: url("http://www.freeiconspng.com/uploads/free-best-seller-stamp-png-6.png");
          background-size: cover;
          content: '';
          position: absolute;
          top: -30px;
          right: -20px;
          width: 100px;
          height: 100px;
          pointer-events: none;
        }

      }
    }
  }  //End of Modal active styling


}