{
  "name": "jackalope",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "js/script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-prod\"}"
    },
    {
      "path": "sass/_custom.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "sass/typography/_typography.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "sass/_custom.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "js/script-prod.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-prod\"}"
    },
    {
      "path": "js/footer-script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-prod\"}"
    },
    {
      "path": "js/header-script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-prod\"}"
    },
    {
      "path": "js/header-script-js-async.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-prod\"}"
    },
    {
      "path": "style.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass/custom",
      "js",
      "sass/custom/pages",
      "sass",
      "js/customscripts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/_normalize.scss",
        "sass/underscores/_underscores.scss",
        "sass/custom/_custom.scss",
        "sass/underscores/variables-site/_variables-site.scss",
        "sass/underscores/mixins/_mixins-master.scss",
        "sass/underscores/forms/_forms.scss",
        "sass/underscores/navigation/_navigation.scss",
        "sass/underscores/modules/_accessibility.scss",
        "sass/underscores/modules/_alignments.scss",
        "sass/underscores/modules/_clearings.scss",
        "sass/underscores/site/_site.scss",
        "sass/underscores/modules/_infinite-scroll.scss",
        "sass/underscores/media/_media.scss",
        "sass/custom/_global.scss",
        "sass/custom/UI/_UI.scss",
        "sass/custom/plugins/_plugins.scss",
        "sass/custom/parts/_parts.scss",
        "sass/custom/pages/_pages.scss",
        "sass/underscores/variables-site/_colors.scss",
        "sass/underscores/variables-site/_typography.scss",
        "sass/underscores/variables-site/_structure.scss",
        "sass/underscores/forms/_buttons.scss",
        "sass/underscores/forms/_fields.scss",
        "sass/underscores/navigation/_menus.scss",
        "sass/underscores/site/primary/_posts-and-pages.scss",
        "sass/underscores/site/primary/_comments.scss",
        "sass/underscores/media/_captions.scss",
        "sass/underscores/media/_galleries.scss",
        "sass/custom/UI/_buttons.scss",
        "sass/custom/UI/_hamburger.scss",
        "sass/custom/UI/_hamburgers.scss",
        "sass/custom/UI/_hyperlink.scss",
        "sass/custom/UI/_navbar.scss",
        "sass/custom/UI/_accordion.scss",
        "sass/custom/plugins/_rellax.scss",
        "sass/custom/plugins/_fancybox.scss",
        "sass/custom/plugins/_slabText.scss",
        "sass/custom/parts/_card.scss",
        "sass/custom/parts/_aboutMe.scss",
        "sass/custom/parts/_hero.scss",
        "sass/custom/parts/_case-studies-frontpage.scss",
        "sass/custom/parts/_side-projects-grid.scss",
        "sass/custom/parts/_resume.scss",
        "sass/custom/parts/_imageGallery.scss",
        "sass/custom/parts/_sign-up-footer.scss",
        "sass/custom/pages/_404.scss",
        "sass/custom/pages/_CaseStudy.scss",
        "sass/custom/pages/_blog.scss",
        "sass/custom/pages/_blog-archive.scss",
        "sass/custom/pages/_consulting.scss",
        "sass/custom/pages/_gallery.scss",
        "sass/custom/pages/_side-project.scss"
      ]
    },
    {
      "path": "js/script.js",
      "imports": [
        "js/customscripts/rellax.js",
        "js/customscripts/bootstrap.js",
        "js/customscripts/slabtext.js",
        "js/customscripts/consulting.js",
        "js/customscripts/masonry.js",
        "js/customscripts/jquery.fancybox.js",
        "js/customscripts/jquery.lazy.js"
      ]
    },
    {
      "path": "js/footer-script.js",
      "imports": [
        "js/customscripts/globalFunctions.js",
        "js/libraries/modernizr.custom.70736.js",
        "js/libraries/navigation.js",
        "js/libraries/skip-link-focus-fix.js",
        "js/libraries/bootstrap.min.js",
        "js/customscripts/consulting.js",
        "js/customscripts/jquery.fancybox.js",
        "js/customscripts/parallax.js",
        "js/customscripts/rellax.js",
        "js/customscripts/jquery.lazy.js",
        "js/customscripts/invoking.js"
      ]
    },
    {
      "path": "js/header-script.js",
      "imports": [
        "js/libraries/YTAPI.js",
        "js/customscripts/masonry.js",
        "js/customscripts/slabtext.js"
      ]
    },
    {
      "path": "js/header-script-js-async.js",
      "imports": [
        "js/libraries/YTAPI.js",
        "js/customscripts/masonry.js"
      ]
    },
    {
      "path": "sass/custom/_custom.scss",
      "imports": [
        "sass/custom/_global.scss",
        "sass/custom/UI/_UI.scss",
        "sass/custom/plugins/_plugins.scss",
        "sass/custom/parts/_parts.scss",
        "sass/custom/pages/_pages.scss",
        "sass/custom/UI/_buttons.scss",
        "sass/custom/UI/_hamburger.scss",
        "sass/custom/UI/_hamburgers.scss",
        "sass/custom/UI/_hyperlink.scss",
        "sass/custom/UI/_navbar.scss",
        "sass/custom/UI/_accordion.scss",
        "sass/custom/plugins/_rellax.scss",
        "sass/custom/plugins/_fancybox.scss",
        "sass/custom/plugins/_slabText.scss",
        "sass/custom/parts/_card.scss",
        "sass/custom/parts/_aboutMe.scss",
        "sass/custom/parts/_hero.scss",
        "sass/custom/parts/_case-studies-frontpage.scss",
        "sass/custom/parts/_side-projects-grid.scss",
        "sass/custom/parts/_resume.scss",
        "sass/custom/parts/_imageGallery.scss",
        "sass/custom/parts/_sign-up-footer.scss",
        "sass/custom/pages/_404.scss",
        "sass/custom/pages/_CaseStudy.scss",
        "sass/custom/pages/_blog.scss",
        "sass/custom/pages/_blog-archive.scss",
        "sass/custom/pages/_consulting.scss",
        "sass/custom/pages/_gallery.scss",
        "sass/custom/pages/_side-project.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "scss",
      "js",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 8889,
    "assignNewPortAutomatically": false,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://jackalopelocal.local"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": false,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegmentsWith\":\"\",\"relative\":\"../\"},\"compiler-autoprefixer\":{\"enabled\":false},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"output\":{\"relative\":\"../\"},\"outputSuffix\":\"-prod\",\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}